USE [Aboga2.0]
GO
/****** Object:  StoredProcedure [dbo].[sp_modificarEventoCont]    Script Date: 25/10/2019 10:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[sp_modificarEventoCont]

@ID_EVENTO INT,
@FECHA DATE,
@TITULO VARCHAR(50),
@DESCRIPCION varchar(50),
@IDCONT INT
AS

UPDATE EVENTO 
 SET FECHA=@FECHA,TITULO=@TITULO,DESCRIPCION=@DESCRIPCION,ID_CONTACTO=@IDCONT WHERE @ID_EVENTO = EVENTO.ID_EVENTO

