USE [Aboga2.0]
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTAR_EXPEARCHIVO]    Script Date: 18/10/2019 08:31:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_INSERTAR_EXPEARCHIVO] 
@ID_ARCHIVO int,
@ID_EXPEDIENTE int
AS
SET NOCOUNT ON
		
	insert into EXPEARCHIVO(ID_EXPEDIENTE,ID_ARCHIVO) values(@ID_EXPEDIENTE,@ID_ARCHIVO);

	SELECT @@IDENTITY

       