USE [Aboga2.0]
GO
/****** Object:  StoredProcedure [dbo].[sp_modificarEventoexp]    Script Date: 25/10/2019 10:06:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[sp_modificarEventoexp]

@ID_EVENTO INT,
@FECHA DATE,
@TITULO VARCHAR(50),
@DESCRIPCION varchar(50),
@IDEXP INT
AS

UPDATE EVENTO 
 SET FECHA=@FECHA,TITULO=@TITULO,DESCRIPCION=@DESCRIPCION,ID_EXPEDIENTE=@IDEXP WHERE @ID_EVENTO = EVENTO.ID_EVENTO

