
@{
    ViewBag.Title = "Menu";
}

<h2>Menu</h2>


<br />
<p><a class="btn btn-default" href="@Url.Action("ABMContactos","Backoffice")">Listado de contactos</a></p>
<br />
<p><a class="btn btn-default" href="@Url.Action("ABMExpedientes","Backoffice")">Listado de expedientes</a></p>
